@font-face{
    src: url(/fonts/Mont-Black.ttf);
    font-family: mont-black;
}
@font-face{
    src: url(/fonts/Mont-BlackItalic.ttf);
    font-family: mont-BlackItalic;
}
@font-face{
    src: url(/fonts/Mont-Bold.ttf);
    font-family: mont-bold;
}
@font-face{
    src: url(/fonts/Mont-BoldItalic.ttf);
    font-family: Mont-BoldItalic;
}
@font-face{
    src: url(/fonts/Mont-ExtraLight.ttf);
    font-family: Mont-ExtraLight;
}
@font-face{
   src: url(/fonts/Mont-ExtraLightItalic.ttf);
   font-family: Mont-ExtraLightItalic;
}
@font-face{
    src: url(/fonts/Mont-Heavy.ttf);
    font-family: Mont-Heavy;
 }
 @font-face{
    src: url(/fonts/Mont-HeavyItalic.ttf);
    font-family: Mont-HeavyItalic;
 }
 @font-face{
    src: url(/fonts/Mont-Light.ttf);
    font-family: Mont-Light;
 }
 @font-face{
    src: url(/fonts/Mont-LightItalic.ttf);
    font-family: Mont-LightItalic;
 }
 @font-face{
    src: url(/fonts/Mont-Regular.ttf);
    font-family: Mont-Regular;
 }
 @font-face{
    src: url(/fonts/Mont-RegularItalic.ttf);
    font-family: Mont-RegularItalic;
 }
 @font-face{
    src: url(/fonts/Mont-Thin.ttf);
    font-family: Mont-Thin;
 }
 @font-face{
    src: url(/fonts/Mont-ThinItalic.ttf);
    font-family: Mont-ThinItalic;
 }